body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Gilroy-Bold";
}

.title {
  text-align: center;
  font-size: 64px;
  font-family: "Gilroy-Bold";
  margin-top: 120px;
}

.button {
  width: 195px;
  height: 60px;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0.24em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
}

.container {
  text-align: center;
}

.own-transition {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1 {
  opacity: 1;
}

.overlay-anim-box1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.overlay-anim-box1:before {
  content: "";
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 2s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 2s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  z-index: 3;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-anim-box1.overlay-anim2:before {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.preview {
  width: 100%;
  height: 600px;
  color: #000;
}

.projectroom {
  background-color: #222222;
  color: #FFFFFF;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectroom__container {
  max-width: 900px;
  margin: auto;
}
.projectroom__container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projectroom__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.projectroom__large-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 64px;
}
.projectroom span:nth-child(2) {
  font-size: 28px;
}
.projectroom__quality-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 127px;
  padding-right: 20px;
}
.projectroom__quality {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projectroom h4 {
  background-color: #5C4DD8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 14px;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin: 5px 0;
  margin-left: 10px;
}
.projectroom p {
  font-family: "Gilroy-Medium";
  max-width: 350px;
  color: rgb(168, 166, 166);
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 10px;
}

/*animation */
[data-animation] {
  opacity: 0;
}

[data-animation] .animated {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .projectroom__quality-wrapper {
    padding-left: 60px;
    padding-right: 20px;
  }
  .projectroom__large-title {
    font-size: 56px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .projectroom__quality-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
  }
  .projectroom__large-title {
    font-size: 56px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .projectroom__quality-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
  .projectroom__large-title {
    font-size: 34px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 18px;
  }
  .projectroom__quality h4 {
    font-size: 14px;
  }
  .projectroom__quality p {
    font-size: 14px;
  }
}
.cases {
  color: #333333;
  min-height: 100vh;
}
.cases h2 {
  margin-bottom: 0;
}
.cases__case {
  margin-top: 80px;
  max-width: 1819px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.cases__info {
  max-width: 332px;
  max-height: 312px;
}
.cases__title {
  margin: 0 0 24px 0;
  font-size: 28px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.cases__text {
  font-family: "Gilroy-Medium";
  color: #A8A6A6;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.cases__img {
  max-width: 1376px;
}
.cases__img img {
  width: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.cases__button {
  margin-top: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.case-mirror {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 900px) {
  .cases__title {
    font-size: 24px;
  }
  .cases__text {
    font-size: 14px;
  }
  .cases__button {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cases__case {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cases__info {
    padding: 0 12px;
    margin-top: 22px;
  }
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 56px;
  }
  .button {
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 34px;
  }
}/*# sourceMappingURL=style.css.map */