body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Gilroy-Bold";
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 64px;
  font-family: "Gilroy-Bold";
  margin-top: 120px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 195px;
  height: 60px;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0.24em;
  font-family: "Gilroy-Medium";
  cursor: pointer;
}

.container {
  text-align: center;
}

.own-transition {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1 {
  opacity: 1;
}

.overlay-anim-box1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.overlay-anim-box1:before {
  content: "";
  background: #F5F5F5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 2s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 2s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  z-index: 3;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-anim-box1.overlay-anim2:before {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.preview {
  width: 100%;
  height: 600px;
  color: #000;
}

.projectroom {
  background-color: #222222;
  color: #FFFFFF;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectroom__container {
  max-width: 900px;
  margin: auto;
}
.projectroom__container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projectroom__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.projectroom__large-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 64px;
}
.projectroom span:nth-child(2) {
  font-size: 28px;
}
.projectroom__quality-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 127px;
  padding-right: 20px;
}
.projectroom__quality {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projectroom h4 {
  background-color: #5C4DD8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 14px;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  margin: 5px 0;
  margin-left: 10px;
}
.projectroom p {
  font-family: "Gilroy-Medium";
  max-width: 350px;
  color: rgb(168, 166, 166);
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 10px;
}

/*animation */
[data-animation] {
  opacity: 0;
}

[data-animation] .animated {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .projectroom__quality-wrapper {
    padding-left: 60px;
    padding-right: 20px;
  }
  .projectroom__large-title {
    font-size: 56px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .projectroom__quality-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
    padding-right: 0;
  }
  .projectroom__large-title {
    font-size: 56px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .projectroom__quality-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
  .projectroom__large-title {
    font-size: 34px;
  }
  .projectroom__large-title span:nth-child(2) {
    font-size: 18px;
  }
  .projectroom__quality h4 {
    font-size: 14px;
  }
  .projectroom__quality p {
    font-size: 14px;
  }
}
.cases {
  background-color: #F5F5F5;
  color: #333333;
  min-height: 100vh;
}
.cases h2 {
  margin-bottom: 0;
}
.cases__case {
  margin-top: 80px;
  max-width: 1819px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.cases__info {
  max-width: 332px;
  max-height: 312px;
}
.cases__title {
  margin: 0 0 24px 0;
  font-size: 28px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.cases__text {
  font-family: "Gilroy-Medium";
  color: #A8A6A6;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.cases__img {
  max-width: 1376px;
}
.cases__img img {
  width: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.cases__button {
  margin-top: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.case-mirror {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 900px) {
  .cases__title {
    font-size: 24px;
  }
  .cases__text {
    font-size: 14px;
  }
  .cases__button {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cases__case {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cases__info {
    padding: 0 12px;
    margin-top: 22px;
  }
}
.pleasure {
  color: #333333;
  min-height: 100vh;
}
.pleasure__wrapper {
  padding: 0 15px;
}
.pleasure ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1078px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.pleasure ul li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  height: 230px;
}
.pleasure ul li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(168, 166, 166);
  border-bottom: 1px solid rgb(168, 166, 166);
}
.pleasure ul li:nth-child(4) a {
  border-right: none;
}
.pleasure ul li:nth-child(8) a {
  border-right: none;
}
.pleasure ul li:nth-child(12) a {
  border-right: none;
}
.pleasure ul li:nth-child(9) a {
  border-bottom: none;
}
.pleasure ul li:nth-child(10) a {
  border-bottom: none;
}
.pleasure ul li:nth-child(11) a {
  border-bottom: none;
}
.pleasure ul li:nth-child(12) a {
  border-bottom: none;
}

.empty-spot-li {
  position: relative;
}

.empty-spot-li:before {
  content: "";
  width: 2px;
  height: calc(100% - 40px);
  background: rgb(92, 77, 216);
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-transform: scaleY(0.4) scaleX(1);
          transform: scaleY(0.4) scaleX(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}

.empty-spot-li:after {
  width: calc(100% - 40px);
  height: 2px;
  -webkit-transform: scaleY(1) scaleX(0.4);
          transform: scaleY(1) scaleX(0.4);
  -webkit-transform-origin: left;
          transform-origin: left;
  content: "";
  background: rgb(92, 77, 216);
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}

.empty-spot {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-family: "Gilroy-Medium";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.12em;
  line-height: 140%;
}
.empty-spot span {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.empty-spot:before {
  content: "";
  width: 2px;
  height: calc(100% - 40px);
  background: rgb(92, 77, 216);
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-transform: scaleY(0.4) scaleX(1);
          transform: scaleY(0.4) scaleX(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}

.empty-spot:after {
  width: calc(100% - 40px);
  height: 2px;
  -webkit-transform: scaleY(1) scaleX(0.4);
          transform: scaleY(1) scaleX(0.4);
  -webkit-transform-origin: right;
          transform-origin: right;
  content: "";
  background: rgb(92, 77, 216);
  position: absolute;
  bottom: 20px;
  right: 20px;
  -webkit-transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
  transition: 0.5s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}

.empty-spot-li:hover:after {
  -webkit-transform: scaleY(1) scaleX(1);
          transform: scaleY(1) scaleX(1);
}

.empty-spot-li:hover:before {
  -webkit-transform: scaleY(1) scaleX(1);
          transform: scaleY(1) scaleX(1);
}

.empty-spot-li:hover .empty-spot:before {
  -webkit-transform: scaleY(1) scaleX(1);
          transform: scaleY(1) scaleX(1);
}
.empty-spot-li:hover .empty-spot:after {
  -webkit-transform: scaleY(1) scaleX(1);
          transform: scaleY(1) scaleX(1);
}

@media screen and (max-width: 768px) {
  .pleasure ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pleasure ul li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .pleasure ul li:nth-child(2) a {
    border-right: none;
  }
  .pleasure ul li:nth-child(4) a {
    border-right: none;
  }
  .pleasure ul li:nth-child(6) a {
    border-right: none;
  }
  .pleasure ul li:nth-child(8) a {
    border-right: none;
  }
  .pleasure ul li:nth-child(10) a {
    border-right: none;
    border-bottom: 1px solid rgb(168, 166, 166);
  }
  .pleasure ul li:nth-child(9) a {
    border-bottom: 1px solid rgb(168, 166, 166);
  }
}
@media screen and (max-width: 480px) {
  .pleasure ul li {
    max-width: 150px;
    max-height: 150px;
  }
  .pleasure ul li a img {
    max-width: 73px;
    max-height: 73px;
  }
}
.mini-slider {
  background-color: #F5F5F5;
}

.testimonials-slider {
  padding: 120px 15px 167px 15px;
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1078px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-height: 400px;
  background-color: #FFFFFF;
}
.swiper-slide__info {
  padding-left: 40px;
}
.swiper-slide__title {
  font-size: 24px;
  color: rgb(92, 77, 216);
}
.swiper-slide__text {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  color: rgb(168, 166, 166);
}
.swiper-slide__author {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: black;
  font-family: "Gilroy-Medium";
}
.swiper-slide__author-position {
  font-family: "Gilroy-Medium";
  color: rgb(102, 102, 102);
}
.swiper-slide__button {
  margin-top: 55px;
}

.swiper-pagination {
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  left: 0;
  padding-top: 33px;
}

.swiper-pagination-bullet {
  -webkit-transition: 0.8s cubic-bezier(0.225, 1, 0.316, 0.99);
  transition: 0.8s cubic-bezier(0.225, 1, 0.316, 0.99);
  border-radius: 100%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  display: inline-block;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  background: rgb(34, 34, 34);
}

.swiper-pagination-bullet-active {
  background: rgb(92, 77, 216);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s cubic-bezier(0.225, 1, 0.316, 0.99);
  transition: 0.8s cubic-bezier(0.225, 1, 0.316, 0.99);
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 56px;
  }
  .button {
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 34px;
  }
}/*# sourceMappingURL=style.css.map */