.own-transition
 transition-delay: 0.5s
 transition-duration: 1s
.animation-delay-1s
 animation-delay: 1s
.animation-delay-2s
 animation-delay: 2s
.own-delay
 animation-delay: .5s
[data-animation].overlay-anim-box2,
[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1,
[data-animation].animated
 opacity: 1

.overlay-anim-box1, .overlay-anim-box2
 display: inline-block
 overflow: hidden
 position: relative
.overlay-anim-box1:before, .overlay-anim-box2:before
 content: ''
 background: #F5F5F5
 position: absolute
 top: 0
 left: 0
 bottom: 0
 right: 0
 transition: 2s cubic-bezier(.858, .01, .068, .99)
 z-index: 3
 transform: translateX(0)

.overlay-anim-box2:before 
 background: black

.overlay-anim-box2.overlay-anim2:before
 transform: translateX(110%)

.overlay-anim-box1.overlay-anim2:before
 transform: translateX(110%)

.slide-progress
 animation-name: slide-progress
 animation-duration: 4s
 animation-timing-function: cubic-bezier(.225, 1, .316, .99)

@keyframes slide-progress
 0%
  transform: translateX(-100%)
 100%
  transform: translateX(0)
