.own-transition
 transition-delay: 0.5s
 transition-duration: 1s
.animation-delay-1s
 animation-delay: 1s
.animation-delay-2s
 animation-delay: 2s 
.own-delay
 animation-delay: .5s
.point-active.overlay-anim2:before
 background-color: #00000000 !important
.exp-anim.overlay-anim2:before
 width: 160px
 transition: all 1s
 transition-delay: 1s
.exp-anim2.overlay-anim2:before
 width: 191px
 transition: all 1s
 transition-delay: 1s
.we-can .overlay-anim-box1:before
 background-color: white    
[data-animation].slider-overlay,
[data-animation].overlay-anim-box5,  
[data-animation].overlay-anim-box4, 
[data-animation].overlay-anim-box3,
[data-animation].overlay-anim-box2,
[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1:before,
[data-animation].overlay-anim-box1:after,
[data-animation].overlay-anim-box1,
[data-animation].animated
 opacity: 1
.slider-overlay
 display: inline-block
 overflow: hidden
 position: relative
.slider-overlay:before
 content: ''
 width: 101%
 height: 100%
 background: rgb(92, 77, 216)
 position: absolute
 top: 0
 left: 100%
 transition: 1s cubic-bezier(.858, .01, .068, .99)
 z-index: 1
 transform: translateX(-100%)
 transition-delay: 0.5s
.swiper-slide-active .slider-overlay:before
 transform: translateX(-1%)
.overlay-anim-box1, 
.overlay-anim-box2, 
.overlay-anim-box3,
.overlay-anim-box4,
.overlay-anim-box5
 display: inline-block
 overflow: hidden
 position: relative
.overlay-anim-box1:before,
.overlay-anim-box2:before, 
.overlay-anim-box3:before, 
.overlay-anim-box4:before,
.overlay-anim-box5:before
 content: ''
 background: #F5F5F5
 position: absolute
 top: 0
 left: 0
 bottom: 0
 right: 0
 transition: 1.5s cubic-bezier(.858, .01, .068, .99)
 z-index: 1
 transform: translateX(0)

.overlay-anim-box3:before
 background: black
 transition-delay: 0s

.overlay-anim-box4:before
 background: #333333   

.overlay-anim-box5:before  
 background: #222222

.overlay-anim-box2:before
 background: black
 transition-delay: 0s
.swiper-slide-active .overlay-anim-box2:before
 transform: translateX(110%)

.slider-title-fill.overlay-anim2:before
 width: 100%

.slider-title-fill.overlay-anim2:after
 width: 100%

.overlay-anim-box5.overlay-anim2:before
 transform: translateX(110%)

.overlay-anim-box4.overlay-anim2:before
 transform: translateX(110%)

.overlay-anim-box3.overlay-anim2:before
 transform: translateX(110%)

.overlay-anim-box2.overlay-anim2:before
 transform: translateX(110%)

.overlay-anim-box1.overlay-anim2:before
 transform: translateX(110%)
.overlay-anim2.slider-overlay:before
 transform: translateX(0%)
.tr-delay-5s.slider-overlay:before
 transition-delay: 5s 
.tr-delay-4s.slider-overlay:before,
.tr-delay-4s.overlay-anim-box2:before
 transition-delay: 4s  
.tr-delay-3s.slider-overlay:before
 transition-delay: 3s  
.tr-delay-2s.slider-overlay:before,
.tr-delay-2s.overlay-anim-box2:before
 transition-delay: 2s
.tr-delay-5.slider-overlay:before,
.tr-delay-5.overlay-anim-box5:before,
.tr-delay-4.slider-title-fill:after
 transition-delay: 1.8s   
.tr-delay-4.overlay-anim-box2:before,
.tr-delay-4.slider-title-fill:before,
.tr-delay-3.slider-title-fill:after,
.tr-delay-4.slider-overlay:before,
.tr-delay-4.overlay-anim-box5:before
 transition-delay: 1.6s  
.tr-delay-3.overlay-anim-box2:before,
.tr-delay-3.slider-title-fill:before,
.tr-delay-2.slider-title-fill:after,
.tr-delay-3.slider-overlay:before,
.tr-delay-3.overlay-anim-box5:before
 transition-delay: 1.4s   
.tr-delay-2.overlay-anim-box2:before,
.tr-delay-2.slider-overlay:before,
.tr-delay-2.overlay-anim-box2:before,
.tr-delay-2.slider-title-fill:before,
.tr-delay-1.slider-title-fill:after,
.tr-delay-2.overlay-anim-box5:before
 transition-delay: 1.2s
.tr-delay-1.slider-overlay:before,
.tr-delay-1.slider-title-fill:before,
.tr-delay-1.overlay-anim-box5:before
 transition-delay: 1s
.tr-delay.point-active:before
 transition-delay: attr(data-delay) ''
.slide-progress
 animation-name: slide-progress
 animation-duration: 4s
 animation-timing-function: cubic-bezier(.225, 1, .316, .99)

@keyframes slide-progress
 0%
  transform: translateX(-100%)
 100%
  transform: translateX(0)

.slider-fade
 display: inline-block
 opacity: 0
 transform: translateY(30px)
 transition: 1s cubic-bezier(.767, .01, .18, 1.01)
 transition-delay: 1.6s 
.swiper-slide-active .slider-fade
 opacity: 1
 transform: translateY(0) 

.slider-title-fill
 white-space: nowrap
 color: transparent
 position: relative
 display: inline-block
.slider-title-fill:before, .slider-title-fill:after
 content: attr(data-text)
 position: absolute
 top: 50%
 color: white
 transform: translateY(-50%)
 left: 0
 transition: 1s cubic-bezier(.767, .01, .18, 1.01)
 width: 0%
 white-space: nowrap
 overflow: hidden
 transition-delay: 1s
.slider-title-fill:after
 color: rgb(92, 77, 216)
 background-color: white
 transition-delay: 1.2s
.swiper-slide-active .slider-title-fill:before 
 width: 100% 
.swiper-slide-active .slider-title-fill:after
 width: 100% 

@media screen and ( max-width: 1100px )
  .exp-anim.overlay-anim2:before
    height: 130px
    transition: all 2s
  .exp-anim2.overlay-anim2:before
    height: 180px !important
    transition: all 2s   