.cases
 color: #333333
 min-height: 100vh
 h2
  margin-bottom: 0
 &__case
  margin-top: 80px
  max-width: 1819px
  display: flex
  align-items: center
  column-gap: 111px
 &__info
  max-width: 332px
  max-height: 312px 
 &__title
  margin: 0 0 24px 0
  font-size: 28px
  animation-delay: 1s
 &__text
  font-family: 'Gilroy-Medium'
  color: #A8A6A6
  animation-delay: 1.75s 
 &__img
  max-width: 1376px
  img
   width: 100% 
   animation-duration: 2s
 &__button
   margin-top: 80px
   animation-delay: 2s   
.case-mirror
 flex-direction: row-reverse
 margin-right: 0
 margin-left: auto