.cases
 background-color: #F5F5F5
 color: #333333
 min-height: 100vh
 h2
  margin-bottom: 0
 &__container
  padding-bottom: 120px
 &__case
  margin-top: 80px
  max-width: 1819px
  display: flex
  align-items: center
  column-gap: 5%
  margin-right: 30%
 &__info
  max-width: 332px
  max-height: 312px 
 &__title
  margin: 0 0 24px 0
  font-size: 28px
  animation-delay: 1s
 &__text
  font-family: 'Gilroy-Medium'
  color: #A8A6A6
  animation-delay: 1.75s 
 &__img
  max-width: 1376px
  img
   width: 100% 
   animation-duration: 2s
 &__button
   margin-top: 80px
   animation-delay: 2s 
 &__more
   height: 315px 
   background: rgba(92, 77, 216, 1)
   display: flex
   align-items: center
   justify-content: center
 &__button-more
  display: flex
  align-items: center
  justify-content: center
  position: relative
  color: white
  border: none
  font-size: 44px
  text-transform: uppercase
 &__button-more::before
  content: ''
  background: white
  width: 100%
  height: 100%
  position: absolute
  top: 0
  right: 0px
  transform: scaleX(0)
  transform-origin: right
  transition: .6s cubic-bezier(.767, .01, .18, 1.01)
 &__button-more:hover:before
  transform: scaleX(1) 
 &__button-more:hover .cases__button-more-text::before
  width: 100%   
.case-mirror
 flex-direction: row-reverse
 margin-right: 0
 margin-left: 30%
.cases__button-more-text
  position: relative
.cases__button-more-text::before
  content: attr(data-text)
  position: absolute
  top: 50%
  color: rgba(92, 77, 216, 1)
  transform: translateY(-50%)
  left: 0
  transition: .6s cubic-bezier(.767, .01, .18, 1.01)
  width: 0%
  white-space: nowrap
  overflow: hidden
@media screen and ( max-width: 1600px )
  .cases
    &__case
      margin-right: 10%
  .case-mirror
    margin-right: 0
    margin-left: 10%
@media screen and ( max-width: 1200px )
  .cases
    &__case
      margin-right: 0
  .case-mirror
    margin-right: 0
    margin-left: 0       
@media screen and ( max-width: 900px )
  .cases
    &__title
      font-size: 24px
    &__text
      font-size: 14px  
    &__button
      margin-top: 0
@media screen and ( max-width: 768px ) 
  .cases
    &__container
      padding-bottom: 80px
    &__case
      flex-wrap: wrap
      justify-content: center
    &__info
      padding: 0 12px
      margin-top: 22px
    &__more
      height: 200px           
    &__button-more
      font-size: 24px
      width: 250px
      height: 45px