.manhattan-solution
 background-color: white
 .overlay-anim-box1:before
  background: white
 &__title
  display: flex
  padding-top: 120px
  max-width: 1290px
  margin-left: 25%
  justify-content: space-between
  h3
   margin: 0
   color: rgba(51, 51, 51, 1)
   font-size: 44px
  p
   margin: 0
   max-width: 860px
   font-family: 'Gilroy-Medium'
   font-size: 18px 
 &__img
   margin-top: 60px
   margin-right: 25%
   img
    width: 100%
@media screen and ( max-width: 1920px )
 .manhattan-solution
  &__title
   max-width: 1060px
   p
    font-size: 16px
    max-width: 740px 
