.manhattan-main
 min-height: 100vh
 position: relative
 .overlay-anim-box1:before
  background: white
 .tr-delay-1.slider-title-fill:before,
 .tr-delay-1.slider-title-fill:after
  transition-delay: .2s
 .tr-delay-2.slider-title-fill:before,
 .tr-delay-2.slider-title-fill:after
  transition-delay: .4s
 .tr-delay-3.slider-title-fill:before,
 .tr-delay-3.slider-title-fill:after,
 .tr-delay-3.overlay-anim-box1:before
  transition-delay: .6s 
 .tr-delay-4.overlay-anim-box1:before
  transition-delay: .8s
 .tr-delay-5.overlay-anim-box1:before
  transition-delay: 1.2s 
 .tr-delay-6.overlay-anim-box1:before
  transition-delay: 1.6s    
 .scroll-arrow:before
  border-right: 2px solid black
  border-bottom: 2px solid black
 .scroll-button-flip:before
  color: black 
 .swiper-slide 
  min-height: 100vh
 .slide-bg-2
  background-image:  url(../img/manhattan-img/preview.png) !important 
 .bg-black
  background-color: white !important
 .home-slider__title
  max-width: 600px 
 .container-bg
  width: 50%
  margin-left: 50%
  min-height: 100vh
  position: absolute
  z-index: 1
  img
   height: 100vh
 .home-slider__container 
  position: relative 
  z-index: 2
 .margin-left-50
  img
    margin-left: 40px
  .create-info
    display: flex
    margin-left: 40px
    column-gap: 44px
    font-family: 'Gilroy-Medium'
    margin-top: 50px
    div
      width: fit-content
      p:first-child
        color: rgba(102, 102, 102, 1)
        font-size: 18px
        margin: 5px 0
      p:nth-child(2)
        color: black
        font-size: 24px
        margin: 0
      a
        color: black
        font-size: 24px
        text-transform: uppercase        