.mini-slider
 background-color: #F5F5F5
 .swiper-pagination
  width: 100%
  position: absolute
  text-align: center
  transition: .3s opacity
  left: 0
  padding-top: 33px 
 .swiper-pagination-bullet 
  transition: .8s cubic-bezier(.225, 1, .316, .99)
  border-radius: 100%
  transform: scale(.5)
  display: inline-block
  margin: 0 20px
  width: 10px
  height: 10px
  background: rgba(34, 34, 34, 1)
 .swiper-pagination-bullet-active 
  background: rgba(92, 77, 216, 1)
  transform: scale(1)
  transition: .8s cubic-bezier(.225, 1, .316, .99)
.testimonials-slider 
 padding: 120px 0px 167px 0px 
 height: 100%
 overflow: hidden
 position: relative
 max-width: 1078px
 margin-left: auto
 margin-right: auto
.swiper-wrapper
 position: relative
 width: 100%
 display: flex
 z-index: 1
 box-sizing: content-box
.swiper-slide
 flex-shrink: 0
 position: relative
 display: flex
 margin: auto
 height: 100%
 background-color: #FFFFFF
 &__img
  display: flex
  justify-content: end
 &__info
  padding-left: 40px
 &__title
  font-size: 24px
  color: rgba(92, 77, 216, 1)
 &__text
  font-family: 'Gilroy-Medium'
  font-size: 16px
  color: rgba(168, 166, 166, 1)
 &__author
  letter-spacing: 0.12em
  text-transform: uppercase
  color: black 
  font-family: 'Gilroy-Medium'
 &__author-position
  font-family: 'Gilroy-Medium'
  color: rgba(102, 102, 102, 1)
 &__button
  margin-top: 55px
@media screen and ( max-width: 900px )
  .testimonials-slider 
    margin: 0 15px
  .mini-slider  
    .swiper-slide
      max-height: 300px
    &__title
      font-size: 18px
    &__text
      font-size: 12px
    &__author
      font-size: 12px
    &__author-position
      font-size: 10px
    &__button
      margin-top: 20px
    &__img
      max-width: 350px
@media screen and ( max-width: 768px )
  .mini-slider                
    .swiper-slide
      flex-direction: column-reverse
      min-height: 528px
    &__title
      margin-bottom: 4px
    &__text
      margin: 0  
    &__info
      padding-left: 24px
    &__img
      min-width: 100%
      min-height: 100%
      img
        width: 100%
    &__button
      margin-bottom: 10px

