body
 margin: 0
 width: 100%
 height: 100%
 font-family: 'Gilroy-Bold'
.title
 text-align: center
 font-size: 64px 
 font-family: 'Gilroy-Bold'
 margin-top: 120px
.button
 width: 195px
 height: 60px
 background-color: #333333
 border: none
 color: #FFFFFF
 font-size: 12px
 letter-spacing: 0.24em
 font-family: 'Gilroy-Medium'
 cursor: pointer
@import 'preview'
@import 'projectroom'
@import 'cases'