html 
 overflow-x: hidden 
 scroll-behavior: smooth
body
 overflow-x: hidden 
 margin: 0
 width: 100%
 height: 100%
 font-family: 'Gilroy-Bold'
main
 position: relative
 z-index: 2 
ul
 list-style: none
 padding: 0
 margin: 0
a
 text-decoration: none
 color: #FFFFFF
.li-flex
 display: flex
 column-gap: 12px
 margin-bottom: 10px
.title
 text-transform: uppercase
 text-align: center
 font-size: 64px 
 font-family: 'Gilroy-Bold'
 margin: 0
 padding-top: 120px
.button
 text-transform: uppercase
 display: flex
 align-items: center
 justify-content: center
 column-gap: 10px
 width: 195px
 height: 60px
 background-color: #333333
 border: none
 color: #FFFFFF
 font-size: 12px
 letter-spacing: 0.24em
 font-family: 'Gilroy-Medium'
 cursor: pointer
.margin-left-50
 margin-left: 50%
 &__reverse
  margin-left: calc(50% - 550px)
.height-100
  min-height: 100vh   
.width-100
 width: 100%
.bg-black
 background-color: #000 !important
 &__reverse
  background-color: rgba(92, 77, 216, 1) !important
.container
 text-align: center
@import 'header'
@import 'nav' 
@import 'animation' 
@import 'home-slider'
@import 'projectroom'
@import 'experiencies'
@import 'cases'
@import 'pleasure'
@import 'mini-slider'
@import 'contact-us'
@import 'footer'
@import 'we-do'
@import 'skills'
@import 'services-main'
@import 'about-main'
@import 'about-projectroom'
@media screen and ( max-width: 1250px )
 .margin-left-50
  &__reverse
    margin-left: calc(50% - 400px) 
@media screen and ( max-width: 900px )
 .margin-left-50
  &__reverse
    margin-left: calc(50% - 300px) 
 .title
  font-size: 56px
 .button
  height: 40px
@media screen and ( max-width: 768px )
  .margin-left-50
    margin-left: 12px
    &__reverse
      margin-left: 12px  
@media screen and ( max-width: 500px )
 .title
  font-size: 34px   